<div class="row">
  <did class="span4">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "well"}) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <legend>Sign Up</legend>
      </fieldset>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :profile_name %>
      <%= f.input :email, :autofocus => true %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %></div>

      <div><%= f.button :submit, "Sign up" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
