<%= devise_error_messages! %>
<div class="row">
	<div class="span4">
		<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: "well", :method => :post }) do |f| %>
			<fieldset>
				<legend>Forgot your password</legend>
			</fieldset>
		  <%= f.input :email %>

		  <div><%= f.button :submit, "Send me reset password instructions" %></div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
